body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #B91450;
}


/****************** LAYOUT *****************/

.col-4 {
    height: 100px;
    width: 300px;
}

.ticket .row {
    border: 1px solid black;
}

.ticket .col-4, .col-8{
    height: 200px;
}

/****************** STYLE *****************/

.ticket th, .ticket td {
    border-style: none;
    padding-bottom: 50px ;
}


.row {
    background-color: white;
    border-radius: 20px;
}

h5 {
    font-weight: 600;
    font-size: 1.2rem;
}

.psg-data {
    background-color: gray;
    border-radius: 10px;
    padding-bottom: 50px;
}

#age {
    padding: 5px 5px;
}

#passenger {
    font-size: 1.5rem;
    color: white;
}